@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right,#067BC2, #84BCDA, #ECC30B, #F37748, #D56062);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #7c7245e5;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #ad931e;
    text-align: center;
    text-shadow: 1px 1px 2px #9b8319;
}
h2 {
    color:#044269 ;
}
p {
    text-align: justify;
}